<script src="https://cdn.jsdelivr.net/npm/vue"></script>

{{ asset_add('styles.css', 'defr.field_type.lessons_mapper::scss/input.scss') }}
{{ asset_add('scripts.js', 'defr.field_type.lessons_mapper::js/input.js') }}

<script type="text/x-template" id="mapper-tpl">
  <div class="mapper">
    <div class="th-col">
      <div class="th" v-for="day, idxDay in daysOfWeek" v-text="day"></div>
    </div>
    <div class="table">
      <div class="thead">
        <div class="tr">
          <div class="th"
            v-for="hour, idxHour in totalHoursInDay"
            v-text="(idxHour + totalHoursOffset) + ':00'"
          ></div>
        </div>
      </div>
      <div class="tbody">
        <div class="tr" v-for="day, idxDay in daysOfWeek">
          <div class="td"
            v-for="fiveMins, idxFiveMins in totalFiveMinutes"
            :title="cellTitle(idxFiveMins)"
            :data-date="cellDate(idxDay, idxFiveMins * 5)"
            @click="onCellClick"
          ></div>
        </div>
      </div>
      <div class="lessons">
        <div class="inner">
          <lesson v-for="lesson in lessons"
            :lesson="lesson"
            :mapper-width="width"
            :total-hours-in-day="totalHoursInDay"
            :total-hours-offset="totalHoursOffset"
            @lesson:remove="removeLesson"
          />
        </div>
      </div>
    </div>
    <div class="buttons-block">
      <button class="btn btn-sm btn-info" @click.prevent="goPrev">Prev</button>
      <button class="btn btn-sm btn-danger" @click.prevent="cloneWeek">Clone</button>
      <button class="btn btn-sm btn-info" @click.prevent="goNext">Next</button>
    </div>
  </div>
</script>

<script type="text/x-template" id="lesson-tpl">
  <div class="lesson" :style="style">
    <i class="fa fa-bars"></i>
    <span class="time" v-text="time"></span>
    <i class="fa fa-times" @click="removeLesson"></i>
  </div>
</script>

<div class="mapper-wrapper" value="{{ field_type.value }}">
  <mapper
    :course="{{ field_type.course }}"
    :total-hours-in-day="13"
    :total-hours-offset="8"
  />
</div>
{#       @dragstart="lessonDragStart"
      @drag="lessonDrag"
      @dragend="lessonDragEnd"
 #}
