.mapper {

  .th-col {
    float: left;
    width: 95px;
    margin-top: 30px;
    box-shadow: inset 0 0 2px #1565c0;

    .th {
      height: 30px;
      display: block;
      line-height: 2rem;
      box-shadow: inset 0 0 2px #1565c0;
      padding: 0 4px;
    }
  }

  .table {
    float: left;
    box-shadow: inset 0 0 2px #1565c0;
    position: relative;
    width: calc(100% - 100px);

    .tbody {
      display: inline-block;
      width: 100%;
    }

    .tr {
      height: 30px;
    }

    .th {
      display: inline-block;
      width: calc(100% / 13);
      text-align: center;
      line-height: 30px;
      box-shadow: inset 0 0 2px #1565c0;
    }

    .td {
      width: calc(100% / 156);
      height: 30px;
      display: inline-block;
      box-shadow: inset 0 0 1px #1565c0;
    }
  }

  .lessons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    > .inner {
      position: relative;
      width: 100%;
      height: 100%;

      > .lesson {
        position: absolute;
        height: 30px;
        background: #1565c0;
        box-shadow: inset 0 0 2px #00ff25;
        pointer-events: all;
        text-align: center;

        .time {
          color: #ccc;
          line-height: 1.9;
        }

        i {
          position: absolute;
          top: 6px;
          color: #ccc;
          cursor: pointer;
          transition: color .4s ease-out;
          font-size: small;
          line-height: 1.4;

          &.fa-times {
            right: 4px;

            &:hover {
              color: #ff0025;
            }
          }

          &.fa-bars {
            left: 4px;

            &:hover {
              color: #00ff25;
            }
          }

        }
      }
    }
  }
}
